<main class="login-view">
  <st-surface eyebrow="Welcome back, agent!" tone="accent" class="login-surface">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <st-input
        (valueChange)="onTokenChange($event)"
        [errorText]="tokenErrorText"
        type="text"
        label="Agent Token"
        placeholder="Go ahead, enter your token here, don't worry, I promise I won't do stupid things with it :)"
        tone="accent"
      />
      @if (loginError) {
        <p class="login-error">{{ loginError }}</p>
      }
      <st-button type="submit" [disabled]="loginForm.invalid" variant="primary" tone="accent"
        >Login</st-button
      >
    </form>
  </st-surface>
</main>
