.icon-chip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-family: var(--st-font-display);
  color: var(--st-accent);

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  &__name {
    font-weight: 800;
  }
}
